body,div,dl,dt,dd,ul,ol,menu,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td,p {
	margin:0; 
	padding:0;
	font-size:12px;
	font-family:'Dotum','돋움';
}

.displayNone {
	display:none;
}

.container {
	min-width : 820px;
}



.gnb {
	width:820px;
	position: relative;
	display: block;
	margin: 0 auto 0;
}

.gnb menu {

	font-size:14px;
	font-weight:bold;
	width:544px;
	height:39px;
	background-color: #3ba4ed;
	list-style: none;
	border-top:1px solid #3ba4ed;
	border-left:1px solid #3ba4ed;
	border-right:1px solid #3ba4ed;
	
}

.gnb menu li {
	float:left;
	height:39px;
	
}

.gnb menu li a{
	display:block;
	padding-top:8px;
	/*width:108px;*/
	height:31px;
	text-align: center;
	text-decoration: none
}

.gnb menu li a div{
	letter-spacing:2px;
	text-align: center;
	width:108px;
	height:23px;
	border-right:1px solid #8bcaf4;
	color:#FFFFFF;
}

.gnb menu li:last-child a div {
	border-right:none
}

.contents {
	width:820px;
	position: relative;
	display: block;
	margin: 0 auto 0;
}

/*.gnb menu li:last-child a {
	padding-top:13px;
}*/

/**
 stylesheet use menu1
**/
.contents .menu1{
	color:#FFFFFF;
}

.contents .menu1 .boxs {
	float:left;
}

.contents .menu1 .small {
	width:160px;
	height:150px;
	margin-right:12px;
}

.contents .menu1 .wide {
	width:332px;
	height:150px;
	margin-right:12px;
}

.contents .menu1 .big {
	width:304px;
	height:312px;
}

.contents .menu1 .box {
	float:left;
	background-color:#bbbbbb;
	margin-top:12px;
	text-align:center;
}

.contents .menu1 .big div{
	margin-top:145px;
}

.contents .menu1 .small div,
.contents .menu1 .wide div{
	margin-top:65px;
}


/**
 stylesheet use menu2
**/

.menu2 .org {
	padding:10px;
	width:414px;
}

.menu2 .org .orgImg {
	width:356px;
	height:363px;
	display:block;
	background-color:#FFFF00;
	margin:20px auto 20px;
}

.menu2 .controller {
	width:414px;
	position: relative;
}

.menu2 .controller>a {
	position:absolute;
}

.menu2 .controller .prevBtn{
	position:absolute;
}

.menu2 .controller .nextBtn{
	position:absolute;
	right:-2px;
}

.menu2 .controller .container{
	padding-left:100px;
}

.menu2 .controller .container .imgMask{
	overflow:hidden;
	width:219px;
	position: relative;
}

.menu2 .controller .container .thumbnail{
	width:2900px;
	position: relative;
}


.menu2 .controller .container .thumbnail .thumb{
	display:block;
	width:64px;
	height:69px;
	float:left;
	margin-right:9px;
	background-color:#FFFF00;
}

/**
 stylesheet use menu3
**/

.menu3 .banner {
	margin-top:20px;
	position: relative;
}

.menu3 .banner>a{
	display:block;
	width:312px;
	height:150px;
}

.menu3 .banner .cover {
	position:absolute;
	top:0;
	left:0;
	text-align : center;
	border:2px solid blue;
	background: rgba(0, 0, 0, 0.2);
	
	font-weight:bold;
}

.menu3 .type1 .cover {
	width:308px;
	height:146px;
}

.menu3 .type2 .cover {
	width:308px;
	height:174px;

}

/*.menu3 .banner .cover .detail,
.menu3 .banner .cover .coupang_home {
	text-align : center;
}*/

.menu3 .banner .cover .detail {
	margin-top:30px;
}

.menu3 .banner .cover .coupang_home {
	margin-top:30px;
}

.menu3 .banner .cover .detail a{
	background-color:#1B1AA2;
	width:100px;
	height:30px;
	text-decoration: none;
	color:#ffffff;
}

.menu3 .banner .cover .coupang_home a{
	background-color:#1B1AA2;
	width:150px;
	height:30px;
	text-decoration: none;
	color:#ffffff;
}



/**
 stylesheet use menu4
**/

.menu4 .title {
	border-bottom:1px solid #666666;
	font-size:20px;
	height:30px;
	padding-top:10px;
	margin-bottom:20px;
}

.menu4 .signup {
	/*padding-left:20px;*/

	border-top:1px solid #666666;
	width:800px;
}

.menu4 ul {
	float:left;
}

.menu4 li {
	list-style:none;
}




.menu4 .leftform .sign_id .id_label  {
	float:left;
	border-right:1px solid #FF0000;
	border-bottom:1px solid #FF0000;
	width:131px;
	height:21px;
	padding-left:10px;
	padding-top:8px;
}

.menu4 .leftform .sign_id .id_form  {
	float:left;
	border-right:1px solid #FF0000;
	border-bottom:1px solid #FF0000;
	padding:5px 28px 4px 9px
}

.menu4 .leftform .sign_id .id_form input  {
	width:107px;
	height:16px;
}

.menu4 .leftform .sign_pw .pw_label,
.menu4 .leftform .sign_name .name_label,
.menu4 .leftform .sign_sex .sex_label {
	float:left;
	border-right:1px solid #FF0000;
	border-bottom:1px solid #FF0000;
	width:131px;
	height:23px;
	padding-left:10px;
	padding-top:8px;
}

.menu4 .leftform .sign_pw .pw_form,
.menu4 .leftform .sign_name .name_form {
	float:left;
	border-right:1px solid #FF0000;
	border-bottom:1px solid #FF0000;
	padding:6px 28px 5px 9px
}

.menu4 .leftform .sign_pw .pw_form input,
.menu4 .leftform .sign_name .name_form input{
	width:107px;
	height:16px;
}

.menu4 .leftform .sign_sex .sex_form {
	float:left;
	border-right:1px solid #FF0000;
	border-bottom:1px solid #FF0000;
	width:136px;
	height:21px;
	padding-left:12px;padding-top:10px
}

.menu4 .leftform .sign_sex .sex_form label:nth-child(1){
	margin-right:5px;
}

.menu4 .leftform .sign_sex .sex_form label input,
.menu4 .leftform .sign_sex .sex_form label span {
	vertical-align: middle;
}

.menu4 .rightform .sign_email .email_label{
	float:left;
	border-right:1px solid #FF0000;
	border-bottom:1px solid #FF0000;
	width:130px;
	height:21px;
	padding-left:10px;
	padding-top:8px;
}

.menu4 .rightform .sign_email .email_form{
	float:left;
	width:356px;
	padding-top:5px;
	padding-bottom:4px;
	border-bottom:1px solid #FF0000;
	padding-left:10px;
}

.menu4 .rightform .sign_email .email_form input{
	width:107px;
	height:16px;
}

.menu4 .rightform .sign_pw_cofirm .pw_confirm_label,
.menu4 .rightform .sign_phone .phone_label,
.menu4 .rightform .sign_agree .agree_label{
	float:left;
	border-right:1px solid #FF0000;
	border-bottom:1px solid #FF0000;
	width:130px;
	height:23px;
	padding-left:10px;
	padding-top:8px;
}

.menu4 .rightform .sign_pw_cofirm .pw_confirm_form{
	float:left;
	width:356px;
	padding-top:6px;
	padding-bottom:5px;
	border-bottom:1px solid #FF0000;
	padding-left:10px;
}

.menu4 .rightform .sign_pw_cofirm .pw_confirm_form input{
	height:16px;
}

.menu4 .rightform .sign_phone .phone_form{
	float:left;
	width:356px;
	padding-top:6px;
	padding-bottom:5px;
	border-bottom:1px solid #FF0000;
	padding-left:10px;"
}

.menu4 .rightform .sign_phone .phone_form select {
	width:51px;
	height:17px;
}

.menu4 .rightform .sign_phone .phone_form input {
	width:50px;
	height:16px;
}

.menu4 .rightform .sign_agree .agree_form{
	float:left;
	width:356px;
	border-bottom:1px solid #FF0000;
	height:23px;
	padding-top:8px;
	padding-left:12px;
}

.menu4 .rightform .sign_agree .agree_form label {
	margin-right:5px;
}

.menu4 .rightform .sign_agree .agree_form label input,
.menu4 .rightform .sign_agree .agree_form label span {
	vertical-align: middle;
}

.signup_submit {
	display:inline-block;
	margin: 0 auto 0;
	width:100px;
	height:30px;
	padding:10px;
	background-color: #FF00aa
}

.signup_submit a {
	display:block;
}
